@{
    ViewData["Title"] = "Index";
}

<style>
    html {
        background-image: url('@Url.Content("~/Images/user_background.png")');
        background-size: cover;
        background-repeat: no-repeat;
    }

    body {
        background-color: rgba(255, 255, 255, 0.001);
    }
</style>

<h1>Index</h1>

<h4>@Html.ActionLink("Sign In", "SignIn", "User")</h4>
<h4>@Html.ActionLink("Sign Up", "SignUp", "User")</h4>
<h4>@Html.ActionLink("Account", "Account", "User")</h4>
