@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>@Html.ActionLink("Sign In", "SignIn", "User")</h4>
<h4>@Html.ActionLink("Sign Up", "SignUp", "User")</h4>
<h4>@Html.ActionLink("Account", "Account", "User")</h4>
