@model PROG455_FinalProject_ExerciseTracker.Models.IExerciseDataForm

@{
    ViewData["Title"] = "Create";
    var datatype = ViewData["DataType"] as string;
}

<style>
    html {
        background-image: url('@Url.Content("~/Images/data_background.png")');
        background-size: cover;
        background-repeat: no-repeat;
    }

    body {
        background-color: rgba(255, 255, 255, 0.001);
    }
</style>

<h1>Create</h1>

<h4>IExerciseDataForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            @switch(datatype)
            {
                case "Reps":
                    <div class="form-group">
                        <label class="control-label">Sets</label>
                        <input class="form-control" name="Sets" type="number" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Reps</label>
                        <input class="form-control" name="Reps" type="number" />
                    </div>
                    break;
                case "Timed":
                    <div class="form-group">
                        <label for="minutes">Minutes:</label>
                        <input type="number" id="minutes" name="minutes" min="0" max="59">

                        <label for="seconds">Seconds:</label>
                        <input type="number" id="seconds" name="seconds" min="0" max="59">
                    </div>
                    break;
                default:
                    <div class="form-group">
                        <label class="control-label">Value</label>
                        <input class="form-control" name="Value" type="text" />
                    </div>
                    break;
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
