@using ChartJSCore.Helpers;
@using ChartJSCore.Models;


@{
    ViewData["Title"] = "Home Page";
}

<style>
    html {
        background-image: url('@Url.Content("~/Images/data_background.png")');
        background-size: cover;
        background-repeat: no-repeat;
    }

    body {
        background-color: rgba(255, 255, 255, 0.001);
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div style="background-color : rgba(0, 0, 0, 0.15)"><canvas id="lineChart"></canvas></div>

@{
    var _chart = ViewData["chart"]!;
    Chart chart = (Chart)_chart;
}

@section Scripts {

    <script>
        @Html.Raw(chart.CreateChartCode("lineChart"));
    </script>
}